<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401024165541-j00a44hki6dnptpgb4lgn88ab0rj61b3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401024165541-j00a44hki6dnptpgb4lgn88ab0rj61b3</string>
	<key>API_KEY</key>
	<string>AIzaSyAMF6e2xwlFUummfpbsA5KrX4xuYtI9x2g</string>
	<key>GCM_SENDER_ID</key>
	<string>401024165541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>phucly.com.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-91d22</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-91d22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401024165541:ios:8bcf252a3f50004d060f4c</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-91d22.firebaseio.com</string>
</dict>
</plist>